html {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background: $mainColor;
}

body {
    font-family: 'Montserrat', sans-serif;

}

img {
    max-width: 100%;
}


.link--no-underline {
    text-decoration: none;
    transition: all 0.4s;
}

.link--dark {
    color: $black;
}

.link--grey {
    color: $grey;
}

.link--colored {
    color: $mainColor;
}

.link--color-hoverable:hover {
    color: $mainColor;
}

.container {
    max-width: 1120px;
    padding: 0px 20px;
    margin: 0 auto;
    
    @mixin atMedium {
        padding: 0px 10px;
    }
}

p.large {
    font-size: 0.9rem;
    font-weight: 300;

    @mixin atMedium {
        font-size: 1.3rem;
    }
}