body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}


.link--no-underline {
    text-decoration: none;
}

.link--dark {
    color: $black;
}

.link--grey {
    color: $grey;
}