html {
  scroll-behavior: smooth;
}

::selection {
  color: white;
  background: $mainColor;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}


.link--no-underline {
    text-decoration: none;
    transition: all 0.4s;
}

.link--dark {
    color: $black;
}

.link--grey {
    color: $grey;
}

.link--color-hoverable:hover {
    color: $mainColor;
}

.container {
    max-width: 1180px;
    padding: 0px 10px;
    margin: 0 auto;
}