.section-projects {
    margin-top: 80px;
}

.projects__wrapper {
    margin-top: 25px;
}

.project {
    box-sizing: border-box;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;


    &-image {
        img {
            display: block;
        }
    }

    &__title {
        h3 {
            margin: 12px 0 2px 0;
            font-weight: 600;
            font-size: 1rem;
        }
    }



    &__footer {
        h5 {
            margin: 6px 0 10px 0;
            font-size: 0.75rem;
            color: $grey;
        }
    }

    @mixin atMedium {

        &-content {
            position: absolute;
            top: 0;
            height: 100%;
            background: #de78788a;
            transform: translateY(10%);
            opacity: 0;
            visibility: hidden;
            z-index: 0;
            transition: all 0.6s;
        }

        &__title {
            padding: 10px;

            h3 {
                color:white;
                font-size: 1.2rem;
            }

            &:after {
                content: "";
                margin-top: 22px;
                height: 2px;
                background: white;
                width: 25px;
                display: block;
            }
        }

        &__footer {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            
            h5 {
                color: white;
                font-size: 0.9rem;
            }
        }

        &:hover {
            .project-content {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
                z-index: 5;
            }
        }

        &:nth-child(even) {
            padding-left: 8px;

            .project-content {
                right:0;
                width: calc(100% - 8px);
            }
        }

        &:nth-child(odd) {
            padding-right: 8px;
            
            .project-content {
                left:0;
                width: calc(100% - 8px);
            }
        }   
    }
}


